<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />

	<bean id="CIWJNWebService" class="com.shth.spacexifa.webservice.impl.CIWJNWebServiceImpl"/>
	<bean id="inInterceptor" class="com.shth.spacexifa.webservice.impl.AuthInterceptor"/>
	
	<!-- 	address的名称就是访问的WebService的name -->
	<jaxws:server id="ciejnService" serviceClass="com.shth.spacexifa.webservice.CIWJNWebService" address="/CIWJNWebService">
    	<jaxws:serviceBean>
			<!--  要暴露的 bean 的引用 -->
        	<ref bean="CIWJNWebService"/>
    	</jaxws:serviceBean>
    	<!-- <jaxws:inInterceptors>
    	    拦截处理用户名密码
        	<ref bean="inInterceptor"/>
    	</jaxws:inInterceptors> -->
 	</jaxws:server>
	
	
<!-- 	<jaxws:endpoint id="blocWebService" address="/blocWebService" -->
<!-- 		implementor="com.shth.spacexifa.webservice.impl.BlocWebServiceImpl" /> -->
		
</beans>

