<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致
	
 -->
<mapper namespace="com.spring.dao.ReportMapper">

	<select id="getWpsid" parameterType="BigInteger" resultType="BigInteger">
		SELECT FWeldWPSID FROM tb_wps_welddevices WHERE FUpdateDate=(select max(`FUpdateDate`) from tb_wps_welddevices WHERE FWeldDevicesID=#{id} group by FWeldDevicesID LIMIT 1) LIMIT 1
	</select>
	
	<select id="getHjTime" resultType="long">
		SELECT count( DATE_FORMAT( fweldtime,  '%Y-%m-%d' ) ) FROM `tb_live_data` WHERE fstatus!='0' and fmachine_id=#{machid} and fweldtime>=#{time}
	</select>
	
	<select id="getZxTime" resultType="long">
		SELECT count( DATE_FORMAT( fweldtime,  '%Y-%m-%d' ) ) FROM `tb_live_data` WHERE fmachine_id=#{machid} and fweldtime>=#{time}
	</select>
	
	<select id="getFirstTime" resultType="String">
		SELECT `FWeldTime` FROM `tb_live_data` WHERE `FWeldTime`>=#{time} and `fmachine_id`=#{machid} ORDER BY `FWeldTime` DESC LIMIT 0,1 
	</select>
	
	<select id="getWps" parameterType="BigInteger" resultType="Report">
		SELECT `Fweld_I` fstandardele,`Fweld_v` fstandardvol,`Fweld_I_MAX` insid,`Fweld_I_MIN` machid,`Fweld_V_MAX` result1,`Fweld_V_MIN` result2,`Fdiameter` fdiameter FROM tb_mainwps WHERE `FID`=#{id}
	</select>
	
	<select id="getSyspara" resultType="Report">
		SELECT `fair_flow_volume` fafv,`fspeed` fspeed FROM tb_parameter 
	</select>
	
	<select id="findAllWelder" resultType="Report">
		SELECT w.fwelder_no fweldernum,w.fname fname,w.FCellPhone num3,w.Fback fback,m.fequipment_no fmachineid,m.fmodel fmachinemodel,SUM(o.fworktime) result1 FROM tb_welder w LEFT JOIN tb_work o ON w.fwelder_no=o.fwelder_id LEFT JOIN tb_welding_machine m ON o.fmachine_id=m.fid WHERE 1=1
		<if test="dto!=null and dto!=''">
			<if test="dto.dtoTime1!=null and dto.dtoTime1!=''">
				and o.fstarttime &gt;= to_date(#{dto.dtoTime1}, 'yyyy-mm-dd hh24:mi:ss')
			</if>
			<if test="dto.dtoTime2!=null and dto.dtoTime2!=''">
				and o.fendtime &lt;= to_date(#{dto.dtoTime2}, 'yyyy-mm-dd hh24:mi:ss')
			</if>
		</if>
		UNION
		SELECT w.fwelder_no fweldernum,w.fname fname,w.FCellPhone num3,w.Fback fback,null fequipment_no,null fmodel,0 fworktime FROM tb_welder w WHERE w.fwelder_no NOT IN (SELECT DISTINCT tb_work.fwelder_id FROM tb_work WHERE 1=1
		<if test="dto!=null and dto!=''">
			<if test="dto.dtoTime1!=null and dto.dtoTime1!=''">
				and fstarttime &gt;= to_date(#{dto.dtoTime1}, 'yyyy-mm-dd hh24:mi:ss')
			</if>
			<if test="dto.dtoTime2!=null and dto.dtoTime2!=''">
				and fendtime &lt;= to_date(#{dto.dtoTime2}, 'yyyy-mm-dd hh24:mi:ss')
			</if>
		</if>
		)
	</select>
	
	<select id="findMachine" resultType="Report">
		SELECT DISTINCT tb_welding_machine.fid id,`fequipment_no` fname,`fmodel` fmachinemodel FROM tb_live_data LEFT JOIN tb_welding_machine ON tb_live_data.fmachine_id=tb_welding_machine.fid WHERE tb_live_data.fwelder_id=#{weldid} AND `fequipment_no` IS NOT null 
	</select>
	
	<select id="getWeldingTime" resultType="long">
		SELECT count(
		<if test="dto!=null and dto!=''">
			<if test="dto.year!=null and dto.year!=''">
				DATE_FORMAT( fweldtime,  '%Y' )
			</if>
			<if test="dto.month!=null and dto.month!=''">
				DATE_FORMAT( fweldtime,  '%Y-%m' )
			</if>
			<if test="dto.day!=null and dto.day!=''">
				DATE_FORMAT( fweldtime,  '%Y-%m-%d' )
			</if>
			<if test="dto.week!=null and dto.week!=''">
				weekofyear(fweldtime)
			</if>
		</if>
		) FROM `tb_live_data` WHERE fstatus!='0' and fmachine_id=#{machid} and fwelder_id=#{weldid}
		<if test="dto!=null and dto!=''">
			<if test="dto.dtoTime1!=null and dto.dtoTime1!=''">
				and fweldtime &gt;= to_date(#{dto.dtoTime1}, 'yyyy-mm-dd hh24:mi:ss')
			</if>
			<if test="dto.dtoTime2!=null and dto.dtoTime2!=''">
				and fweldtime &lt;= to_date(#{dto.dtoTime2}, 'yyyy-mm-dd hh24:mi:ss')
			</if>
		</if>
	</select>
	
	<select id="getOnTime" resultType="long">
		SELECT count(
		<if test="dto!=null and dto!=''">
			<if test="dto.year!=null and dto.year!=''">
				DATE_FORMAT( fweldtime,  '%Y' )
			</if>
			<if test="dto.month!=null and dto.month!=''">
				DATE_FORMAT( fweldtime,  '%Y-%m' )
			</if>
			<if test="dto.day!=null and dto.day!=''">
				DATE_FORMAT( fweldtime,  '%Y-%m-%d' )
			</if>
			<if test="dto.week!=null and dto.week!=''">
				weekofyear(fweldtime)
			</if>
		</if>
		) FROM `tb_live_data` WHERE fmachine_id=#{machid}
		<if test="dto!=null and dto!=''">
			<if test="dto.dtoTime1!=null and dto.dtoTime1!=''">
				and fweldtime &gt;= to_date(#{dto.dtoTime1}, 'yyyy-mm-dd hh24:mi:ss')
			</if>
			<if test="dto.dtoTime2!=null and dto.dtoTime2!=''">
				and fweldtime &lt;= to_date(#{dto.dtoTime2}, 'yyyy-mm-dd hh24:mi:ss')
			</if>
		</if>
	</select>
	
		<select id="getRealEle" resultType="long">
		select case when xxx=0 then 0 else SUM(felectricity)/xxx end  from (SELECT count(
		<if test="dto!=null and dto!=''">
			<if test="dto.year!=null and dto.year!=''">
				DATE_FORMAT( fweldtime,  '%Y' )
			</if>
			<if test="dto.month!=null and dto.month!=''">
				DATE_FORMAT( fweldtime,  '%Y-%m' )
			</if>
			<if test="dto.day!=null and dto.day!=''">
				DATE_FORMAT( fweldtime,  '%Y-%m-%d' )
			</if>
			<if test="dto.week!=null and dto.week!=''">
				weekofyear(fweldtime)
			</if>
		</if>
		)  AS xxx,felectricity FROM `tb_live_data` WHERE fmachine_id=#{machid} and fstatus='0'
		<if test="dto!=null and dto!=''">
			<if test="dto.dtoTime1!=null and dto.dtoTime1!=''">
				and fweldtime &gt;= to_date(#{dto.dtoTime1}, 'yyyy-mm-dd hh24:mi:ss')
			</if>
			<if test="dto.dtoTime2!=null and dto.dtoTime2!=''">
				and fweldtime &lt;= to_date(#{dto.dtoTime2}, 'yyyy-mm-dd hh24:mi:ss')
			</if>
		</if>
		)temp
	</select>
	
		<select id="getRealVol" resultType="long">
		select case when xxx=0 then 0 else SUM(fvoltage)/xxx end  from (SELECT count(
		<if test="dto!=null and dto!=''">
			<if test="dto.year!=null and dto.year!=''">
				DATE_FORMAT( fweldtime,  '%Y' )
			</if>
			<if test="dto.month!=null and dto.month!=''">
				DATE_FORMAT( fweldtime,  '%Y-%m' )
			</if>
			<if test="dto.day!=null and dto.day!=''">
				DATE_FORMAT( fweldtime,  '%Y-%m-%d' )
			</if>
			<if test="dto.week!=null and dto.week!=''">
				weekofyear(fweldtime)
			</if>
		</if>
		)  AS xxx,fvoltage FROM `tb_live_data` WHERE fmachine_id=#{machid} and fstatus='0'
		<if test="dto!=null and dto!=''">
			<if test="dto.dtoTime1!=null and dto.dtoTime1!=''">
				and fweldtime &gt;= to_date(#{dto.dtoTime1}, 'yyyy-mm-dd hh24:mi:ss')
			</if>
			<if test="dto.dtoTime2!=null and dto.dtoTime2!=''">
				and fweldtime &lt;= to_date(#{dto.dtoTime2}, 'yyyy-mm-dd hh24:mi:ss')
			</if>
		</if>
		)temp
	</select>
	
<!-- 	<select id="getAllPara" resultType="Report">
	SELECT * from ( 
    select * from(SELECT eno,model,time,fstandardele,fstandardvol,dia,id from ( 
    SELECT m.fid id,m.fmodel model, m.fequipment_no eno,l.FWeldTime time,ms.Fweld_I fstandardele,ms.fweld_v fstandardvol,ms.Fdiameter dia from 
    tb_live_data l left join tb_welding_machine m on m.fid = l.fmachine_id left JOIN tb_wps_welddevices wpsw on wpsw.FWeldDevicesID = m.fid 
    left JOIN tb_mainwps ms on ms.FID = wpsw.FWeldWPSID where FWeldTime like #{time}
    <if test="parent!=null and parent!=''">
		and (i.fid=#{parent} or ins.fid=#{parent} or insf.fid=#{parent} or insf.fparent=#{parent})
	</if>
	<if test="str!=null and str!=''">
		and ${str}
	</if>
    )A group by id ORDER by time)B 
    UNION select fequipment_no eno,fmodel model,null time,0 fstandardele,0 fstandardvol ,0 dia,fid id from tb_welding_machine
    where fid not in (SELECT m.fid from tb_live_data l left join tb_welding_machine m on m.fid = l.fmachine_id 
    left JOIN tb_wps_welddevices wpsw on wpsw.FWeldDevicesID = m.fid left JOIN tb_mainwps ms on ms.FID = wpsw.FWeldWPSID where FWeldTime like  #{time}
    <if test="parent!=null and parent!=''">
		and (i.fid=#{parent} or ins.fid=#{parent} or insf.fid=#{parent} or insf.fparent=#{parent})
	</if>
	<if test="str!=null and str!=''">
		and ${str}
	</if>
    ) 
)temp
	</select> -->
	
	<select id="getAllPara" resultType="Report">
		SELECT m.fid id,m.fequipment_no eno,m.fmodel model,mw.Fweld_I fstandardele,mw.Fweld_v fstandardvol,mw.Fdiameter dia FROM tb_welding_machine m LEFT JOIN tb_wps_welddevices ww ON m.fid=ww.FWeldDevicesID LEFT JOIN tb_mainwps mw ON ww.FWeldWPSID=mw.FID GROUP BY m.fequipment_no
	</select>
	
	<select id="historyData" resultType="Report">
		SELECT fsolder_layer id,fweld_bead insid,felectricity fstandardele,fvoltage fstandardvol,
		FWeldTime fweldingtime,fstatus fstatus FROM tb_live_data
		WHERE fjunction_no = #{fid} and fmachine_id = #{mach} and (fstatus='3' or fstatus='5' or fstatus='7' or fstatus='99')
		<if test="welderid!=null and welderid!=''">
			and fwelder_no = #{welderid}
		</if>
		<if test="dto!=null and dto!=''">
			<if test="dto.dtoTime1!=null and dto.dtoTime1!=''">
				and fweldtime &gt;= to_date(#{dto.dtoTime1}, 'yyyy-mm-dd hh24:mi:ss')
			</if>
			<if test="dto.dtoTime2!=null and dto.dtoTime2!=''">
				and fweldtime &lt;= to_date(#{dto.dtoTime2}, 'yyyy-mm-dd hh24:mi:ss')
			</if>
		</if>
		<if test="fsolder_layer!=null and fsolder_layer!=''">
			and fsolder_layer = #{fsolder_layer}
		</if>
		<if test="fweld_bead!=null and fweld_bead!=''">
			and fweld_bead = #{fweld_bead}
		</if>
	</select>
	
	<select id="getEleVolRange" resultType="Report">
		SELECT s.fweld_ele+s.fweld_tuny_ele fstandardele,s.fweld_ele-s.fweld_tuny_ele frealele,s.fweld_vol+s.fweld_tuny_vol fstandardvol,s.fweld_vol-s.fweld_tuny_vol frealvol FROM tb_welded_junction j 
		LEFT JOIN tb_specification s ON j.fwpslib_id=s.fwpslib_id 
		WHERE j.fwelded_junction_no=#{taskNum} AND s.fsolder_layer=#{fsolder_layer} AND s.fweld_bead=#{fweld_bead}
	</select>
</mapper>