<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致
	
 -->
<mapper namespace="com.spring.dao.TdMapper">
	
	<select id="findAll" resultType="Td">
		select fid id,fwelder_no welderNo,fname welderName from tb_welder where 1=1
		<if test="str!=null and str!=''">
			and ${str}
		</if>
	</select>
	
	<select id="findMachine" parameterType="String" resultType="Td">
		select fequipment_no fequipment_no from tb_welding_machine where fposition=#{fposition}
	</select>
	
	<select id="findAlldiv" parameterType="long" resultType="Td">
		select fid fdi,fname fdn,fparent fdp,ftype fdt from tb_insframework where tb_insframework.fparent=#{fci} 
	</select>
	
	<select id="findAllIns" parameterType="long" resultType="long">
		select tb_users.users_insframework from tb_users where tb_users.id=#{fci} 
	</select>
	
	<select id="findInsid" parameterType="String" resultType="long">
		select fid fdn from tb_insframework where tb_insframework.fname=#{fdn} 
	</select>
	
	<select id="findInsname" parameterType="long" resultType="String">
		select fname fcn from tb_insframework where tb_insframework.fid=#{fci} 
	</select>

	<select id="findweld" parameterType="String" resultType="String">
		select tb_welder.fname from tb_welder where tb_welder.fwelder_no=#{fci} 
	</select>
	
	<select id="findPosition" parameterType="String" resultType="String">
		select fposition from tb_welding_machine where fequipment_no=#{equip}
	</select>
	
	<select id="getAllPosition" parameterType="String" resultType="Td">
		select wm.fid id,wm.fequipment_no fequipment_no,max(fposition) fposition,max(finsframework_id) fci,max(tb_insframework.fname) fcn,
		max(ftype_id) typeid,max(fmodel) fpp,g.FGATHER_NO fstatus_id,d.fvaluename model
		from tb_welding_machine wm
		LEFT JOIN TB_GATHER g ON wm.FGATHER_ID = g.FID
		LEFT JOIN tb_dictionary d on d.fvalue = wm.fmodel
		LEFT JOIN tb_insframework ON wm.finsframework_id=tb_insframework.fid
		LEFT JOIN tb_insframework ins on ins.fid = tb_insframework.fparent
		LEFT JOIN tb_insframework insf on insf.fid=ins.fparent
		where 1=1
		<if test="parent!=null and parent!=''">
			and (tb_insframework.fid=#{parent} or ins.fid=#{parent} or insf.fid=#{parent} or insf.fparent=#{parent})
		</if>
		<if test="str!=null and str!=''">
			and ${str}
		</if>
		GROUP BY wm.FID,fequipment_no,g.FGATHER_NO,d.fvaluename
		ORDER BY nlssort(fequipment_no,'NLS_SORT=SCHINESE_PINYIN_M')
	</select>
	
	<select id="getAllPositions" parameterType="String" resultType="Td">
		select wm.fid id,fequipment_no fequipment_no,max(fposition) fposition,max(finsframework_id) fci,
		max(tb_insframework.fname) fcn,max(d.fvaluename) model,g.FGATHER_NO fstatus_id
		from tb_welding_machine wm
		inner JOIN TB_GATHER g ON wm.FGATHER_ID = g.FID
		LEFT JOIN tb_dictionary d on d.fvalue = wm.fmodel
    	LEFT JOIN tb_insframework ON wm.finsframework_id=tb_insframework.fid 
		LEFT JOIN tb_insframework ins on ins.fid = tb_insframework.fparent 
		LEFT JOIN tb_insframework insf on insf.fid=ins.fparent where d.ftypeid=17
		<if test="parent!=null and parent!=''">
			and (tb_insframework.fid=#{parent} or ins.fid=#{parent} or insf.fid=#{parent} or insf.fparent=#{parent})
		</if>
		GROUP BY wm.FID,fequipment_no,g.FGATHER_NO ORDER BY nlssort(fequipment_no,'NLS_SORT=SCHINESE_PINYIN_M')
	</select>
	
	<select id="getMachine" parameterType="String" resultType="Td">
		select tb_welding_machine.fid id,fequipment_no fequipment_no,fposition fposition,finsframework_id fci,tb_insframework.fname fcn from tb_welding_machine LEFT JOIN tb_insframework ON tb_welding_machine.finsframework_id=tb_insframework.fid where 1=1
		<if test="mach!=null and mach!=''">
			AND tb_welding_machine.fid NOT IN (${mach})
		</if>
		<if test="parent!=null and parent!=''">
			and finsframework_id=#{parent}
		</if>
	</select>
	
	<select id="allWeldname" resultType="Td">
		select fid fname,fwelder_no fwelder_no from tb_welder
	</select>
	
	<select id="getLiveTime" resultType="Td">
		SELECT sum(worktime) worktime FROM (
	        SELECT count(fid) worktime from tb_live_data 
	        where FWeldTime &gt;= to_date(substr(#{totime},1,19), 'yyyy-mm-dd hh24:mi:ss') and FWeldTime &lt;= SYSDATE and fmachine_id=#{machineid} and (fstatus=3 or fstatus=5 or fstatus=7 or fstatus=99)
	        union all
	        SELECT sum(fworktime) worktime FROM tb_work 
			WHERE fstarttime &gt;= to_date(substr(#{time},1,19), 'yyyy-mm-dd hh24:mi:ss') and fendtime &lt;= to_date(substr(#{totime},1,19), 'yyyy-mm-dd hh24:mi:ss') and fmachine_id=#{machineid}
        )temp
	</select>
	
	<select id="getBootTime" resultType="String">
		SELECT FWeldTime FROM tb_live_data WHERE 1=1 
		<if test="machineId!=null and machineId!=''">
			AND fmachine_id = #{machineId} 
		</if>
		<if test="time!=null and time!=''">
			And FWeldTime &gt;= #{time} 
		</if>
		ORDER BY FWeldTime ASC LIMIT 0,1
	</select>
</mapper>