<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
 		<!-- 打印查询语句 --> 
		<setting name="logImpl" value="STDOUT_LOGGING" />
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>

	<!-- 实体类,简称 -设置别名 -->
	<typeAliases>
		<typeAlias alias="User" type="com.shth.spacexifa.model.User" />
		<typeAlias alias="Role" type="com.shth.spacexifa.model.Role" />
		<typeAlias alias="Data" type="com.shth.spacexifa.model.Data" />
		<typeAlias alias="Td" type="com.shth.spacexifa.model.Td" />
		<typeAlias alias="Authority" type="com.shth.spacexifa.model.Authority" />
		<typeAlias alias="Resources" type="com.shth.spacexifa.model.Resources" />
		<typeAlias alias="Person" type="com.shth.spacexifa.model.Person" />
		<typeAlias alias="Parameter" type="com.shth.spacexifa.model.Parameter" />
		<typeAlias alias="Wps" type="com.shth.spacexifa.model.Wps"/>
		<typeAlias alias="Report" type="com.shth.spacexifa.model.Report"/>
		<typeAlias alias="Product" type="com.shth.spacexifa.model.Product"/>
		<typeAlias alias="Email" type="com.shth.spacexifa.model.Email"/>
	</typeAliases>
	
	<plugins>
		<plugin interceptor="com.github.pagehelper.PageHelper">
			<!-- 支持通过Mapper接口参数来传递分页参数 -->
			<property name="supportMethodsArguments" value="true" />
		</plugin>
	</plugins>
	
	<!-- 实体接口映射资源 -->
	<!--
		说明：如果xxMapper.xml配置文件放在和xxMapper.java统一目录下，mappers也可以省略，因为org.mybatis.spring.mapper.MapperFactoryBean默认会去查找与xxMapper.java相同目录和名称的xxMapper.xml
	-->
	<mappers>
		<mapper resource="com/shth/spacexifa/mapper/userMapper.xml" />
		<mapper resource="com/shth/spacexifa/mapper/roleMapper.xml" />
		<mapper resource="com/shth/spacexifa/mapper/dataMapper.xml" />
		<mapper resource="com/shth/spacexifa/mapper/tdMapper.xml" />
		<mapper resource="com/shth/spacexifa/mapper/personMapper.xml" />
		<mapper resource="com/shth/spacexifa/mapper/authorityMapper.xml" />
		<mapper resource="com/shth/spacexifa/mapper/resourceMapper.xml" />
		<mapper resource="com/shth/spacexifa/mapper/weldingmachine.xml" />
		<mapper resource="com/shth/spacexifa/mapper/dictionary.xml" />
		<mapper resource="com/shth/spacexifa/mapper/weldingMaintenance.xml" />
		<mapper resource="com/shth/spacexifa/mapper/welder.xml" />
		<mapper resource="com/shth/spacexifa/mapper/weldedjunction.xml" />
		<mapper resource="com/shth/spacexifa/mapper/insframework.xml" />
		<mapper resource="com/shth/spacexifa/mapper/gather.xml"/>
		<mapper resource="com/shth/spacexifa/mapper/livedata.xml"/>
		<mapper resource="com/shth/spacexifa/mapper/wpsMapper.xml" />
		<mapper resource="com/shth/spacexifa/mapper/parameterMapper.xml"/>
		<mapper resource="com/shth/spacexifa/mapper/reportMapper.xml"/>
		<mapper resource="com/shth/spacexifa/mapper/productMapper.xml"/>
		<mapper resource="com/shth/spacexifa/mapper/datastatisticsMapper.xml"/>
		<mapper resource="com/shth/spacexifa/mapper/junctionMapper.xml"/>
		<mapper resource="com/shth/spacexifa/mapper/productionCraftMapper.xml"/>
		<mapper resource="com/shth/spacexifa/mapper/email.xml"/>
	</mappers>

</configuration>  