* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background: url(../../images/bg.png) no-repeat;
  background-size: cover;
  line-height: 1.15;
}
header {
  position: relative;
  height: 1rem;
  background: url(../../images/head_bg.png) no-repeat top center;
  background-size: 100% 100%;
}
header h1 {
  font-size: 0.5rem;
  color: #fff;
  text-align: center;
  line-height: 1rem;
}
header h1 span {
  background: linear-gradient(to bottom, #7be9fe, #67c1ff, #549cff, #2e57a0);
  -webkit-background-clip: text;
  color: transparent;
}
header .leftCompany {
  position: absolute;
  left: 0.8rem;
  top: 0;
  line-height: 1.1rem;
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.3rem;
}
header .rightTime {
  position: absolute;
  right: 1.2rem;
  top: 5px;
  line-height: 1.1rem;
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.2rem;
}
header .exchange {
  position: absolute;
  right: 0.4rem;
  top: 5px;
  line-height: 1.1rem;
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.2rem;
}
header .logo {
  position: absolute;
  left: 0.005rem;
  top: 7px;
  line-height: 1.1rem;
  color: rgba(255, 255, 255);
  font-size: 0.2rem;
}
.mainbox {
  display: flex;
  min-width: 1080px;
  max-width: 2080px;
  margin: 0 auto;
  padding: 0rem 0.125rem 0;
}
.mainbox .column1 {
  flex: 7.175rem;
}
.mainbox .column1 .pane201 {
  height: 0.5rem;
  padding: 0 0.1875rem;
  background: linear-gradient(to right, rgba(3, 34, 151, 0.8) 20%, rgba(3, 25, 126, 0.5) 40%, rgba(2, 14, 98, 0.4) 60%, rgba(3, 5, 66, 0.3) 80%, rgba(0, 0, 0, 0) 90%, rgba(0, 0, 0, 0) 100%);
}
.mainbox .column1 .panel01 {
  height: 0.5rem;
  width: 6rem;
  padding: 0 0.1875rem;
  background: linear-gradient(to right, rgba(3, 34, 151, 0.8) 20%, rgba(3, 25, 126, 0.5) 40%, rgba(2, 14, 98, 0.4) 60%, rgba(3, 5, 66, 0.3) 80%, rgba(0, 0, 0, 0) 90%, rgba(0, 0, 0, 0) 100%);
}
.mainbox .column1 .pane501 {
  height: 0.5rem;
  width: 1.5rem;
  padding: 0 0.1875rem;
  background: linear-gradient(to right, rgba(3, 34, 151, 0.8) 20%, rgba(3, 25, 126, 0.5) 40%, rgba(2, 14, 98, 0.4) 60%, rgba(3, 5, 66, 0.3) 80%, rgba(0, 0, 0, 0) 90%, rgba(0, 0, 0, 0) 100%);
}

.mainbox .column1 .panel02 {
  height: 3.5rem;
}
.mainbox .column2 {
  flex-wrap:9.025rem;
  margin: 0 0.125rem;
  overflow: hidden;
}
.mainbox .column2 .panel01 {
  height: 0.5rem;
  padding: 0 0.1875rem;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 10%, rgba(3, 5, 66, 0.3) 20%, rgba(2, 14, 98, 0.4) 30%, rgba(3, 25, 126, 0.5) 40%, rgba(3, 34, 151, 0.8) 50%, rgba(3, 25, 126, 0.5) 60%, rgba(2, 14, 98, 0.4) 70%, rgba(3, 5, 66, 0.3) 80%, rgba(0, 0, 0, 0) 90%, rgba(0, 0, 0, 0) 100%);
}
.mainbox .column3 {
  flex: 7.175rem;
}
.mainbox .column3 .panel01 {
  height: 0.5rem;
  width: 1rem;
  padding: 0 0.1875rem;
  background: linear-gradient(to right, rgba(3, 34, 151, 0.8) 20%, rgba(3, 25, 126, 0.5) 40%, rgba(2, 14, 98, 0.4) 60%, rgba(3, 5, 66, 0.3) 80%, rgba(0, 0, 0, 0) 90%, rgba(0, 0, 0, 0) 100%);
}
.mainbox .column3 .panel02 {
  height: 3.5rem;
}
.mainbox .panel {
  position: relative;
  height: 4rem;
  padding: 0 0 0.2rem;
  margin-bottom: 0.125rem;
  background: url(../../images/rectangle.png) no-repeat;
  background-size: cover;
}
.mainbox .panel .panel01 .h2-mid {
  height: 0.5rem;
  color: #fff;
  line-height: 0.5rem;
  text-align: center;
  font-size: 0.25rem;
  font-weight: bold;
}
.mainbox .panel .pane201 .h2-mid {
  height: 0.5rem;
  color: #fff;
  line-height: 0.5rem;
  text-align: center;
  font-size: 0.25rem;
  font-weight: bold;
}
.mainbox .panel .panel01 .h2-side {
  height: 0.5rem;
  color: #fff;
  line-height: 0.5rem;
  text-align: center;
  font-size: 0.25rem;
  font-weight: bold;
}
.mainbox .panel .panel01 span {
  background: linear-gradient(to right, #0078ff, #01e9fe, #0078ff);
  -webkit-background-clip: text;
  color: transparent;
}
.mainbox .panel .pane501 .h2-side {
  height: 0.5rem;
  color: #fff;
  line-height: 0.5rem;
  text-align: center;
  font-size: 0.25rem;
  font-weight: bold;
}
.mainbox .panel .pane501 span {
  background: linear-gradient(to right, #0078ff, #01e9fe, #0078ff);
  -webkit-background-clip: text;
  color: transparent;
}
.mainbox .panel .panel02 {
  padding: 0.1rem 0;
}
.mainbox .panel .panel-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.mainbox .panel .panel-footer::before {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 30px;
  height: 30px;
  border-left: 2px solid #046dbd;
  border-bottom: 2px solid #046dbd;
  content: "";
}
.mainbox .panel .panel-footer::after {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30px;
  height: 30px;
  border-right: 2px solid #046dbd;
  border-bottom: 2px solid #046dbd;
  content: "";
}
.mainbox .panel .chart {
  height: 3.25rem;
}
.mainbox .panel .chart1 {
  height: 5.35rem;
}
.mainbox .panel .chart1 .button { /* 按钮美化 */
	width: 270px; /* 宽度 */
	height: 40px; /* 高度 */
	border-width: 0px; /* 边框宽度 */
	border-radius: 3px; /* 边框半径 */
	background: #1E90FF; /* 背景颜色 */
	cursor: pointer; /* 鼠标移入按钮范围时出现手势 */
	outline: none; /* 不显示轮廓线 */
	font-family: Microsoft YaHei; /* 设置字体 */
	color: white; /* 字体颜色 */
	font-size: 17px; /* 字体大小 */
}

.mainbox .panel-header {
  position: relative;
}
.mainbox .panel-header::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border-left: 2px solid #046dbd;
  border-top: 2px solid #046dbd;
  content: "";
}
.mainbox .panel-header::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  border-right: 2px solid #046dbd;
  border-top: 2px solid #046dbd;
  content: "";
}
/* 约束屏幕尺寸 */
@media screen and (max-width: 1024px) {
  html {
    font-size: 42px !important;
  }
}
@media screen and (min-width: 1920px) {
  html {
    font-size: 80px !important;
  }
}
#u3907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u3907 {
  position:absolute;
  left:1351px;
  top:778px;
  width:23px;
  height:23px;
}
#u3908 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:43px;
  background:inherit;
  background-color:rgba(9, 20, 65, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#CCCCCC;
}
#u3909 {
  position:absolute;
  left:1377px;
  top:769px;
  width:102px;
  height:43px;
  font-size:16px;
  color:#CCCCCC;
}
#u3910 {
  position:absolute;
  left:2px;
  top:12px;
  width:98px;
  word-wrap:break-word;
}
#u3911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:43px;
  background:inherit;
  background-color:rgba(9, 20, 65, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#CCCCCC;
}
#u3911 {
  position:absolute;
  left:1377px;
  top:769px;
  width:102px;
  height:43px;
  font-size:16px;
  color:#CCCCCC;
}
#u3912 {
  position:absolute;
  left:6.5rem;
  top:3px;
  width:98px;
  word-wrap:break-word;
}
#u3913_img {
  position:absolute;
  left: 6.2rem;
  top: 10px;
  width:23px;
  height:23px;
}
#u3913 {
  position:absolute;
  left:1351px;
  top:778px;
  width:23px;
  height:23px;
}
#u3914 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}